<!DOCTYPE html>
<html>
<head>
  <title>HwRailsCore</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <%= stylesheet_link_tag 'admin', media: 'all', 'data-turbolinks-track' => true %>

  <%= csrf_meta_tags %>
</head>
<body class="">

  <!-- HEADER -->
  <%= render('shared/admin/header') %>
  <!-- END HEADER -->

  <% if user_signed_in? && current_user.role.admin? %>
    <!-- LEFT PANEL -->
    <%= render('shared/admin/left_panel') %>
    <!-- END LEFT PANEL -->
  <% end %>


  <% if user_signed_in? && current_user.role.admin? %>
    <div id="main" role="main">
      <!-- RIBBON -->
      <div id="ribbon">

      </div>
      <!-- END RIBBON -->
      <div class="col-md-12" style="margin-top: 10px">
        <%= render partial: 'shared/message' %>
      </div>
      <%= yield %>
    </div>
  <% else %>
      <%= yield %>
  <% end %>
  <!-- END MAIN PANEL -->

  <!-- FOOTER -->
  <%= render('shared/admin/footer') %>
  <!-- END FOOTER -->

  <!-- SHORTCUT AREA -->
  <%= render('shared/admin/shortcut') %>
  <!-- END SHORTCUT AREA -->

  <%= javascript_include_tag 'admin', 'data-turbolinks-track' => true %>
</body>
</html>
